In [99]:
import pandas as pd
import random as rd
import numpy as np
import collections as collections

In [100]:
from random import choice
strategies =['Heads', 'Tails']

In [101]:
choice(strategies)

'Heads'

In [102]:
#def coinflip():
   # number = int(input("Number of times to flip coin: "))
    #recordList = []
   # heads = 0
    #tails = 0
    #for _ in range(number):
      # flip = rd.randint(0, 1)
   # if (flip == 0):
           # recordList.append("Heads")
    #else:
            #recordList.append("Tails")
    #print(recordList)
    #print(recordList.count("Tails"), recordList.count("Heads"))

#coinflip()

In [103]:
###Choosing Heads as a strategy wins the game 
### + 1 for choosing heads
## one point deduction for choosing tails 
# if both choose the same strategy, the rewards or penalties apre split evenly
payoff= {('Heads','Tails'):(1,-1),
       ('Tails','Heads'):(-1,1),
        ('Heads','Heads'): (0.5,0.5), ###tie
        ('Tails','Tails'):(-0.5,-0.5)}

In [104]:
##Defining Actors 
Players=[{'name':'John','score':0,'cho_han':None},
         {'name':'Mary','score':0,'cho_han':None}]

In [105]:
##Agents make choice 
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [106]:
Players

[{'name': 'John', 'score': 0, 'cho_han': None, 'strategy': 'Heads'},
 {'name': 'Mary', 'score': 0, 'cho_han': None, 'strategy': 'Heads'}]

In [107]:
##Current Move 
Players[0]['strategy'],Players[1]['strategy'] ##current move

('Heads', 'Heads')

In [108]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0.5, 0.5)

In [109]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [110]:
# current agent situation
Players

[{'name': 'John', 'score': 0.5, 'cho_han': None, 'strategy': 'Heads'},
 {'name': 'Mary', 'score': 0.5, 'cho_han': None, 'strategy': 'Heads'}]

In [111]:
##Social outcome 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score cho_han strategy
0  John    0.5    None    Heads
1  Mary    0.5    None    Heads

In [112]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

   name  score cho_han strategy
0  John    0.5    None    Heads
1  Mary    0.5    None    Heads

In [113]:
##More Players

# names of players
names=['Jim','Jane','Peter','Zoe']

In [114]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [115]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [116]:
import itertools 

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [117]:
import itertools 

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}

In [118]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(10):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [119]:
# final situation
society

[{'name': 'Jim', 'score': -0.5, 'strategy': 'Tails'},
 {'name': 'Jane', 'score': -2.0, 'strategy': 'Tails'},
 {'name': 'Peter', 'score': 0.5, 'strategy': 'Tails'},
 {'name': 'Zoe', 'score': 4.0, 'strategy': 'Heads'}]

In [120]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

    name  score strategy
0    Jim   -0.5    Tails
1   Jane   -2.0    Tails
2  Peter    0.5    Tails
3    Zoe    4.0    Heads

In [121]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

  name  score strategy
3  Zoe    4.0    Heads

In [122]:
filter2=socialResults.score==socialResults.score.min()
loser=socialResults[filter2]

#social outcome
loser

   name  score strategy
1  Jane   -2.0    Tails